@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 600;
  text-align: center;
  padding-top: 1rem;
}

img {
  width: 100%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--grey);
}
.sub-container {
  padding: 5rem;
  background-color: var(--white);
  border-radius: 4px;
}

button {
  padding: .5rem;
  width: 7rem;
  margin-left: 1rem;
}

input {
  padding: .5rem;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--color-sec);
}

